.button {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 5px;
}

.App {
  text-align: center;
}

.error-text {
  color: red;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
}

.form-input, .form-label {
  display: block;
}
.form-label {
  text-align: left;
  margin-bottom: 5px;
}

.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.form-container, .graph-container {
  margin: 0% 10%;
  display: flex;
  flex-direction: column;
}
