.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: white;

}

.form-input, .form-label {
  display: block;
}
.form-label {
  text-align: left;
  margin-bottom: 5px;
}

.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.form-container {
  margin: 0% 20%;
  display: flex;
  flex-direction: column;
}
